@use "../modules/calc-layout.scss";

.btn {
  margin: 3px;
  width: 4rem;
  height: 3rem;
  border-radius: 7px;
  background-color: black;
  color: white;
  font-size: 2rem;

  &__plus {
    height: 6rem;
    grid-template-areas: "btn-plus";
    grid-row: 5 / 7;
    grid-column: 5;
  }
}
