@font-face {
  font-family: "Digital";
  src: url("../../Resources/digital-7.regular.ttf");
}
body {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  display: grid;
  justify-content: center;
  background-color: darkgrey;
  width: 22rem;
  height: 19rem;
  border-radius: 9px;
  grid-template-columns: repeat(5, 4rem);
  grid-template-rows: repeat(6, 3rem);
  grid-template-areas: "display display display display display display" "btn btn btn btn btn btn" "btn btn btn btn btn btn" "btn btn btn btn btn btn-plus" "btn btn btn btn btn btn-plus";
}
.calculator__display {
  grid-area: "display";
  grid-row: 1;
  grid-column: 1/6;
  border: 3px solid black;
  text-align: right;
  font-size: 2.5rem;
  background-color: white;
  font-family: "Digital", "Arial";
}

.btn {
  margin: 3px;
  width: 4rem;
  height: 3rem;
  border-radius: 7px;
  background-color: black;
  color: white;
  font-size: 2rem;
}
.btn__plus {
  height: 6rem;
  grid-template-areas: "btn-plus";
  grid-row: 5/7;
  grid-column: 5;
}
